Keith Grennan <foss@nearlyfree.org> <keith@nearlyfree.org>
Keith Grennan <foss@nearlyfree.org> <keith@Keiths-MacBook-Pro.local>
Keith Grennan <foss@nearlyfree.org> <kgrennan@cpan.org>
Robert Rothenberg <perl@rhizomnic.com> <rrwo@cpan.org>
Cosimo Streppone <cosimo@cpan.org> <cosimo@opera.com>
Gregor Herrmann <gregoa@cpan.org> <gregoa@debian.org>
Tomaž Šolc <avian@cpan.org> <tomaz.solc@tablix.org>
